body, html{
  height:100%;
  background-image: url('http://www.djdebonaire.com/images/powerspot575iifx.gif');
  background-repeat:no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  //background-color: #777;
}

.dancer{
  background-image: url('https://img.clipartfest.com/01b66d4786b71aa412ddc64a76de989d_chicken20wing20clipart-clipart-chicken-wing-transparent-background_480-597.png');
  
/*   border:10px solid red;
  border-radius:10px;
  position:absolute; */
}


